<div class="home-wrapper animate__animated animate__fadeIn">
    <div class="row">
        <div class="text">
            <img class="logo" src="assets/logo.png" alt="logo Amir Berko">
            <button (click)="startTrip('about')" (click)="startTrip('about')" class="btn-home">Who am I ??</button>
        </div>
        <img class="img-about" src="assets/berko.png" alt="Amir Berko">
    </div>
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>